/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.serverless/cloudformation-template-update-stack.json
.serverless/document-generation-servivce.zip
.serverless/serverless-state.json
/.serverless/
